body {
    margin: 0;
    padding: 0;
    background:

            linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
            url("../images/b3.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

.navbar-light {
    background-color: rgba(0, 0, 0, 0.5);
}

.table-dark{
    background-color: rgba(0,0,0,0.5);
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: white;
    margin-top: 10%;
    overflow-x: hidden;
}

a{
    color: white;
    font-family: "Comic Sans MS";
}

a:hover{
    color: white;
    font-family: "Comic Sans MS";
}
